.card-body {
    padding-bottom: 5px;
    padding-top: 5px;
}

.card {
    margin: 10px;
}

.card-footer {
    padding-bottom: 5px;
    padding-top: 5px;
}

.flip-list-move {
    transition: transform 1s;
}

.leaderboard:first-of-type {
    background-image: url("images/gold-coins.jpg");
    /*background-color: gold;*/
}
